.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  border: solid 2px white;
  padding: 8px;
}

.button:hover {
  background-color: red;
  cursor: pointer;
}

/* mobile */
.page {
  
}

.button {
  
}

.image {
  width: 100%;
}


/* tablet */
@media (min-width: 600px) {
  .page {
    
  }

  .button {
    
  }

  .image {
    
  }
}

/* desktop */
@media (min-width: 1024px) {
  .page {
    
  }

  .button {
    
  }

  .image {
    
  }
}